{% extends "Layout/Base.html" %}
{% block content %}
    <form class="navbar-form navbar-left" action="/NhanVien/QuanLyVe/TraCuuKhachHang" method="GET"
          style="margin: 20px auto">
        <div class="input-group">
            <input type="text" style="display: none" value="{{ link }}" class="form-control" name="link">
            <input type="text" class="form-control" placeholder="gmail" name="gmail">
            <input type="number" class="form-control" placeholder="CCCD" name="CCCD">
            <div class="input-group-btn">
                <button class="btn btn-primary" type="submit">
                    tìm kiếm
                </button>
            </div>
        </div>
    </form>
    {% if ds_khach_hang %}
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">id khách hàng</th>
                <th scope="col">tên khách hàng</th>
                <th scope="col">gmail</th>
                <th scope="col">CCCD</th>
                <th scope="col">tài khoản</th>
                <th scope="col">hoạt động</th>
                <th scope="col">chọn</th>
            </tr>
            </thead>
            <tbody>
            {% for khach_hang in ds_khach_hang %}
                <tr>
                    <th scope="row">{{ khach_hang.id_nguoi_dung }}</th>
                    <td>{{ khach_hang.ten_nguoi_dung }}</td>
                    <td>{{ khach_hang.gmail }}</td>
                    <td>{{ khach_hang.CCCD }}</td>
                    <td>{{ khach_hang.tai_khoan }}</td>
                    <td>{{ khach_hang.hoat_dong }}</td>
                    <td><a href="{{ link }}id_nguoi_dung={{ khach_hang.id_nguoi_dung }}"
                           class="btn btn-primary">chọn</a></td>
                </tr>
            {% endfor %}
            </tbody>

        </table>
    {% else %}
        <div class="alert alert-info mt-1">không tìm thấy khách hàng nào</div>
    {% endif %}
{% endblock %}