{% extends "Layout/Base.html" %}
{% block content %}
    <form action="/NhanVien/QuanLyLichChuyenBay/CapNhatLichChuyenBay?{{ link }}&#38;so_luong_san_bay={{ so_luong_san_bay }}"
          style='margin : 100px auto' method='post'>
        {% if err %}
            <div class="alert alert-danger text-center mt-1">{{ err }}</div>
        {% endif %}
        {% if chuyen_bay %}
            <div data-mdb-input-init class="form-outline mb-4">
                <input type="text" readonly id="chuyen_bay" class="form-control" name="chuyen_bay"
                       value="{{ chuyen_bay.ChuyenBay }}">
                <label class="form-label" for="chuyen_bay">chuyến bay</label>
            </div>
        {% endif %}

        <div data-mdb-input-init class="form-outline mb-4">
            <input type="text" id="ngay_gio" class="form-control" value="{{ chuyen_bay.LichChuyenBay.ngay_gio }}"
                   name="ngay_gio"/>
            <label class="form-label" for="ngay_gio">ngày giờ</label>
        </div>

        <div data-mdb-input-init class="form-outline mb-4">
            <input type="text" id="thoi_gian_bay" class="form-control"
                   value="{{ chuyen_bay.LichChuyenBay.thoi_gian_bay }}" name="thoi_gian_bay"/>
            <label class="form-label" for="thoi_gian_bay">thời gian bay</label>
        </div>
        {% if chuyen_bay %}
            {% for so_dem_san_bay in range(ds_san_bay|length) %}
                {% if so_dem_san_bay == 0 %}
                    <div data-mdb-input-init class="form-outline mb-4"
                         style="height: 10px; background-color:lightblue"></div>
                {% endif %}
                <div style="display: none" data-mdb-input-init class="form-outline mb-4">
                    <input type="text" id="id_san_bay_{{ so_dem_san_bay }}" class="form-control"
                           value="{{ ds_san_bay[so_dem_san_bay].id_san_bay }}" name="id_san_bay_{{ so_dem_san_bay }}"
                           readonly/>
                </div>
                <div data-mdb-input-init class="form-outline mb-4">
                    <input type="text" id="san_bay_{{ so_dem_san_bay }}" class="form-control"
                           value="{{ ds_san_bay[so_dem_san_bay] }}" name="san_bay_{{ so_dem_san_bay }}" readonly/>
                    <label class="form-label" for="san_bay_{{ so_dem_san_bay }}">sân bay</label>
                </div>
                <div data-mdb-input-init class="form-outline mb-4">
                    <input type="text" id="thoi_gian_dung_{{ so_dem_san_bay }}" class="form-control"
                           value="{{ dict_san_bay_trung_gian[ds_san_bay[so_dem_san_bay]].thoi_gian_dung }}"
                           name="thoi_gian_dung_{{ so_dem_san_bay }}"/>
                    <label class="form-label" for="thoi_gian_dung_{{ so_dem_san_bay }}">thời gian dừng</label>
                </div>
                <div data-mdb-input-init class="form-outline mb-4">
                    <input type="text" id="ghi_chu_{{ so_dem_san_bay }}" class="form-control"
                           value="{{ dict_san_bay_trung_gian[ds_san_bay[so_dem_san_bay]].ghi_chu }}"
                           name="ghi_chu_{{ so_dem_san_bay }}"/>
                    <label class="form-label" for="ghi_chu_{{ so_dem_san_bay }}">ghi chú</label>
                </div>
                <div data-mdb-input-init class="form-outline mb-4">
                    <a data-mdb-button-init data-mdb-ripple-init
                       href="/NhanVien/QuanLyLichChuyenBay/XoaSanBay?{{ link }}&#38;so_luong_san_bay={{ so_luong_san_bay }}&#38;so_dem_san_bay={{ so_dem_san_bay }}"
                       class="btn btn-danger btn-block mb-4">xóa</a>
                </div>
                <div data-mdb-input-init class="form-outline mb-4"
                     style="height: 10px; background-color:lightblue"></div>
            {% endfor %}
            <div data-mdb-input-init class="form-outline mb-4">
                <a data-mdb-button-init data-mdb-ripple-init
                   href="/NhanVien/QuanLyLichChuyenBay/TraCuuSanBay?{{ link }}&#38;so_luong_san_bay={{ so_luong_san_bay }}"
                   class="btn btn-primary btn-block mb-4">thêm sân bay</a>
            </div>
        {% endif %}
        <div data-mdb-input-init class=" d-flex justify-content-center form-outline mb-4">
            <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4">cập
                nhật chuyến bay
            </button>
        </div>

    </form>
{% endblock %}