{% extends "KhachHang/ThongTinNguoiDung/Header_KhachHang.html"%}
{% block content %}
{% if ds_ve %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">id vé</th>
                <th scope="col">id chuyến bay</th>
                <th scope="col">tuyến bay</th>
                <th scope="col">id nhân viên</th>
                <th scope="col">tên nhân viên</th>
                <th scope="col">hạng ghế</th>
                <th scope="col">vị trí</th>
                <th scope="col">máy bay</th>
                <th scope='col'>ngày giờ</th>
                <th scope='col'>hình thức thanh toán</th>
                <th scope='col'>cập nhật vé</th>
                <th scope='col'>hủy</th>
            </tr>
        </thead>
        <tbody>
          {% for ve in ds_ve %}
            <tr>
              <th scope="row">{{ve.Ve.id_ve}}</th>
  
              <td>{{ve.ChuyenBay.id_chuyen_bay}}</td>
              <td>{{ve.TuyenBay.ten_tuyen_bay}}</td>           
              {% if ve.NhanVien %}
                <td>{{ve.NhanVien.id_nhan_vien}}</td>
                <td>{{ve.ten_nguoi_dung}}</td>
              {% else %}
                <td>online</td>
                <td>online</td>
              {% endif %}
              <td>{{ve.Ghe.hang}}</td>
              <td>{{ve.Ghe.vi_tri}}</td>
              <td>{{ve.MayBay.ten_may_bay}}</td>
              <td>{{ve.LichChuyenBay.ngay_gio}}</td>
              <td>
                {% if ve.hinh_thuc_thanh_toan %}
                  online
                {% else %}
                  trực tiếp
                {% endif %}</td>
              <td><a href = "/XemThongTinNguoiDung/CapNhatVe?id_ve={{ve.Ve.id_ve}}&#38;id_chuyen_bay={{ve.ChuyenBay.id_chuyen_bay}}&#38;id_nguoi_dung={{ve.KhachHang.id_khach_hang}}" class="btn btn-primary">cập nhật</a></td>
              <td><a href = "/XemThongTinNguoiDung/HuyVe?id_ve={{ve.Ve.id_ve}}" class="btn btn-danger">xóa</a></td>
            </tr>
          {% endfor %}
        </tbody>
    </table>
{% else %}
<div class="alert alert-info mt-1">chưa có vé nào</div>
{%endif%}
{% endblock %}