{% extends "Layout/Base.html"%}
{% block header2%}
<nav class="navbar navbar-expand-sm bg-light">
    <div class="container-fluid">
      <!-- Links -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/XemThongTinNguoiDung">Thông tin cá nhân</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/XemThongTinNguoiDung/XemDSVe">Xem danh sách vé</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/XemThongTinNguoiDung/XemDSDonHuy">Xem danh sách đơn hủy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/XemThongTinNguoiDung/XemLichSu">Xem lịch sử mua</a>
        </li>
      </ul>
    </div>
</nav>
{% endblock%}