{% extends "Layout/Base.html" %}
{% block content %}
    <form action="/NhanVien/QuanLyKhachHang/TaoKhachHang?sl_so_dien_thoai={{sl_so_dien_thoai}}" style='margin : 100px auto' method='post'>
        {% if err %}
            <div class="alert alert-danger text-center mt-1">{{ err }}</div>
        {% endif %}
        <div data-mdb-input-init class="form-outline mb-4">
            <input type="text" id="ten_nguoi_dung" class="form-control" name="ten_nguoi_dung"/>
            <label class="form-label" for="ten_nguoi_dung">tên người dùng</label>
        </div>

        {%for so_dem in range(sl_so_dien_thoai)%}
        <div data-mdb-input-init class="form-outline mb-4">
            <input type="number" id="so_dien_thoai_{{so_dem}}" class="form-control" name="so_dien_thoai_{{so_dem}}" />
            <label class="form-label" for="so_dien_thoai_{{so_dem}}">số điện thoại {{so_dem+1}}</label>
        </div>
        {% endfor %}

        {% if sl_so_dien_thoai > 1%}
        <div data-mdb-input-init class="form-outline mb-4">
            <a class="btn btn-danger" href="/NhanVien/QuanLyKhachHang/TaoKhachHang?sl_so_dien_thoai={{sl_so_dien_thoai-1}}">giảm số điện thoại</a>
        </div>
        {% endif%}

        {% if sl_so_dien_thoai < 3%}
            <div data-mdb-input-init class="form-outline mb-4">
                <a class="btn btn-primary" href="/NhanVien/QuanLyKhachHang/TaoKhachHang?sl_so_dien_thoai={{sl_so_dien_thoai+1}}">tăng số điện thoại</a>
            </div>
        {% endif%}

        <div data-mdb-input-init class="form-outline mb-4">
            <input type="email" id="gmail"  class="form-control" name="gmail"  />
            <label class="form-label" for="gmail">gmail</label>
        </div>

        <div data-mdb-input-init class="form-outline mb-4">
            <input type="number" id="CCCD" class="form-control" name="CCCD"/>
            <label class="form-label" for="CCCD">căn cước công dân</label>
        </div>

        <div data-mdb-input-init class="form-outline mb-4">
            <input type="text" id="tai_khoan" class="form-control" name="tai_khoan"/>
            <label class="form-label" for="CCCD">tài khoản</label>
        </div>

        <div data-mdb-input-init class=" d-flex justify-content-center form-outline mb-4">
            <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4">tạo
                khách hàng mới
            </button>
        </div>
    </form>
{% endblock %}